.DS_Store
2022/.DS_Store
2022/themes/jwm/img/
2022/themes/jwm/fonts/
2022/themes/jwm/css/
2022/themes/jwm/languages/
2022/themes/jwm/layouts/
2022/themes/jwm/old/
2022/themes/jwm/README.md
2022/themes/jwm/readme.txt
2022/themes/jwm/acf-json/
