@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
img,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
    margin-bottom: 1rem;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
}
body,
input,
textarea,
select,
button {
    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left;
}
fieldset,
iframe {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
main,
summary,
details {
    display: block;
}
audio,
canvas,
video,
progress {
    vertical-align: baseline;
}
button {
    background: none;
    border: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: inherit;
    overflow: visible;
    vertical-align: inherit;
}
button:disabled {
    cursor: default;
}
:focus {
    outline: 4px solid rgba(0, 125, 250, 0.6);
    outline-offset: 1px;
}
:focus[data-focus-method="mouse"]:not(input):not(textarea):not(select),
:focus[data-focus-method="touch"]:not(input):not(textarea):not(select) {
    outline: none;
}
::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/* Text Styles / Sizes */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1441px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}
h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1441px) {
  h2, .h2 {
    font-size: 2rem;
  }
}
h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1441px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}
h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1441px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}
h5, .h5 {
  font-size: 1.25rem;
}
h6, .h6 {
  font-size: 1rem;
}
b,
strong {
    font-weight: 600;
}
em,
i,
cite,
dfn {
    font-style: italic;
}
sup,
sub {
    position: relative;
    font-size: 0.6em;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
abbr {
    border: 0;
    cursor: help;
}
abbr:hover {
    cursor: help;
}

/* Content Defaults */

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Layout Defaults */

.nowrap {
    display: inline-block;
    text-decoration: inherit;
    white-space: nowrap;
}
.clear {
    clear: both;
}
.justify-content-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.justify-content-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.justify-content-spacebetween {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.justify-content-spacearound {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.align-items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.align-items-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.align-self-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
}
.row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.column {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0px;
}

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
    /*
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);*/
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* Layout Sizes / Positions - Flexbox */
/*** Large ***/
.l-offset-0 {
    margin-left: 0;
}
.l-order-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}
.l-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
}
.l-offset-1 {
    margin-left: 8.33333%;
}
.l-order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.l-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
}
.l-offset-2 {
    margin-left: 16.66667%;
}
.l-order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.l-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
}
.l-offset-3 {
    margin-left: 25%;
}
.l-order-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}
.l-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
}
.l-offset-4 {
    margin-left: 33.33333%;
}
.l-order-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}
.l-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
}
.l-offset-5 {
    margin-left: 41.66667%;
}
.l-order-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
}
.l-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
}
.l-offset-6 {
    margin-left: 50%;
}
.l-order-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
}
.large-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
}
.l-offset-7 {
    margin-left: 58.33333%;
}
.l-order-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
}
.l-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
}
.l-offset-8 {
    margin-left: 66.66667%;
}
.l-order-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
}
.l-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
}
.l-offset-9 {
    margin-left: 75%;
}
.l-order-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
}
.l-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
}
.l-offset-10 {
    margin-left: 83.33333%;
}
.l-order-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
}
.l-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
}
.l-offset-11 {
    margin-left: 91.66667%;
}
.l-order-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
}
.l-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}
.l-offset-12 {
    margin-left: 100%;
}
.l-order-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
}
.l-centered {
    margin-left: auto;
    margin-right: auto;
}
.l-uncentered {
    margin-left: 0;
    margin-right: 0;
}
.l-last {
    margin-left: auto;
}
.l-notlast {
    margin-left: 0;
}
.l-grow {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    max-width: initial;
}
.l-ungrow {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
    max-width: initial;
}

/*** X-Large ***/

@media only screen and (min-width: 1441px) {
    .xl-offset-0 {
        margin-left: 0;
    }
    .xl-order-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .xl-1 {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }
    .xl-offset-1 {
        margin-left: 8.33333%;
    }
    .xl-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .xl-2 {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
        max-width: 16.66667%;
    }
    .xl-offset-2 {
        margin-left: 16.66667%;
    }
    .xl-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .xl-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }
    .xl-offset-3 {
        margin-left: 25%;
    }
    .xl-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .xl-4 {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
        max-width: 33.33333%;
    }
    .xl-offset-4 {
        margin-left: 33.33333%;
    }
    .xl-order-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
    .xl-5 {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
        max-width: 41.66667%;
    }
    .xl-offset-5 {
        margin-left: 41.66667%;
    }
    .xl-order-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
    .xl-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
    .xl-offset-6 {
        margin-left: 50%;
    }
    .xl-order-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }
    .xl-7 {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
        max-width: 58.33333%;
    }
    .xl-offset-7 {
        margin-left: 58.33333%;
    }
    .xl-order-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }
    .xl-8 {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
        max-width: 66.66667%;
    }
    .xl-offset-8 {
        margin-left: 66.66667%;
    }
    .xl-order-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }
    .xl-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }
    .xl-offset-9 {
        margin-left: 75%;
    }
    .xl-order-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }
    .xl-10 {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
        max-width: 83.33333%;
    }
    .xl-offset-10 {
        margin-left: 83.33333%;
    }
    .xl-order-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }
    .xl-11 {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
        max-width: 91.66667%;
    }
    .xl-offset-11 {
        margin-left: 91.66667%;
    }
    .xl-order-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }
    .xl-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    .xl-offset-12 {
        margin-left: 100%;
    }
    .xl-order-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }
    .xl-centered {
        margin-left: auto;
        margin-right: auto;
    }
    .xl-uncentered {
        margin-left: 0;
        margin-right: 0;
    }
    .xl-last {
        margin-left: auto;
    }
    .xl-notlast {
        margin-left: 0;
    }
    .xl-grow {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        max-width: initial;
    }
    .xl-ungrow {
        -webkit-box-flex: initial;
        -ms-flex: initial;
        flex: initial;
        max-width: initial;
    }
}

/*** Medium ***/

@media only screen and (max-width: 1068px) {
    .m-offset-0 {
        margin-left: 0;
    }
    .m-order-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .m-1 {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }
    .m-offset-1 {
        margin-left: 8.33333%;
    }
    .m-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .m-2 {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
        max-width: 16.66667%;
    }
    .m-offset-2 {
        margin-left: 16.66667%;
    }
    .m-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .m-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }
    .m-offset-3 {
        margin-left: 25%;
    }
    .m-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .m-4 {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
        max-width: 33.33333%;
    }
    .m-offset-4 {
        margin-left: 33.33333%;
    }
    .m-order-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
    .m-5 {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
        max-width: 41.66667%;
    }
    .m-offset-5 {
        margin-left: 41.66667%;
    }
    .m-order-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
    .m-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
    .m-offset-6 {
        margin-left: 50%;
    }
    .m-order-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }
    .m-7 {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
        max-width: 58.33333%;
    }
    .m-offset-7 {
        margin-left: 58.33333%;
    }
    .m-order-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }
    .m-8 {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
        max-width: 66.66667%;
    }
    .m-offset-8 {
        margin-left: 66.66667%;
    }
    .m-order-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }
    .m-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }
    .m-offset-9 {
        margin-left: 75%;
    }
    .m-order-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }
    .m-10 {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
        max-width: 83.33333%;
    }
    .m-offset-10 {
        margin-left: 83.33333%;
    }
    .m-order-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }
    .m-11 {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
        max-width: 91.66667%;
    }
    .m-offset-11 {
        margin-left: 91.66667%;
    }
    .m-order-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }
    .m-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    .m-offset-12 {
        margin-left: 100%;
    }
    .m-order-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }
    .m-centered {
        margin-left: auto;
        margin-right: auto;
    }
    .m-uncentered {
        margin-left: 0;
        margin-right: 0;
    }
    .m-last {
        margin-left: auto;
    }
    .m-notlast {
        margin-left: 0;
    }
    .m-grow {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        max-width: initial;
    }
    .m-ungrow {
        -webkit-box-flex: initial;
        -ms-flex: initial;
        flex: initial;
        max-width: initial;
    }
}

/*** Small ***/

@media only screen and (max-width: 734px) {
    .s-offset-0 {
        margin-left: 0;
    }
    .s-order-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .s-1 {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }
    .s-offset-1 {
        margin-left: 8.33333%;
    }
    .s-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .s-2 {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
        max-width: 16.66667%;
    }
    .s-offset-2 {
        margin-left: 16.66667%;
    }
    .s-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .s-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }
    .s-offset-3 {
        margin-left: 25%;
    }
    .s-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .s-4 {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
        max-width: 33.33333%;
    }
    .s-offset-4 {
        margin-left: 33.33333%;
    }
    .s-order-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
    .s-5 {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
        max-width: 41.66667%;
    }
    .s-offset-5 {
        margin-left: 41.66667%;
    }
    .s-order-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
    .s-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
    .s-offset-6 {
        margin-left: 50%;
    }
    .s-order-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }
    .s-7 {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
        max-width: 58.33333%;
    }
    .s-offset-7 {
        margin-left: 58.33333%;
    }
    .s-order-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }
    .s-8 {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
        max-width: 66.66667%;
    }
    .s-offset-8 {
        margin-left: 66.66667%;
    }
    .s-order-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }
    .s-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }
    .s-offset-9 {
        margin-left: 75%;
    }
    .s-order-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }
    .s-10 {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
        max-width: 83.33333%;
    }
    .s-offset-10 {
        margin-left: 83.33333%;
    }
    .s-order-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }
    .s-11 {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
        max-width: 91.66667%;
    }
    .s-offset-11 {
        margin-left: 91.66667%;
    }
    .s-order-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }
    .s-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    .s-offset-12 {
        margin-left: 100%;
    }
    .s-order-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }
    .s-centered {
        margin-left: auto;
        margin-right: auto;
    }
    .s-uncentered {
        margin-left: 0;
        margin-right: 0;
    }
    .s-last {
        margin-left: auto;
    }
    .s-notlast {
        margin-left: 0;
    }
    .s-grow {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        max-width: initial;
    }
    .s-ungrow {
        -webkit-box-flex: initial;
        -ms-flex: initial;
        flex: initial;
        max-width: initial;
    }
}

/*** Large - Row Reserve ***/

.row-reverse .column {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0px;
}
.row-reverse .l-offset-0 {
    margin-right: 0;
}
.row-reverse .l-offset-1 {
    margin-right: 8.33333%;
}
.row-reverse .l-offset-2 {
    margin-right: 16.66667%;
}
.row-reverse .l-offset-3 {
    margin-right: 25%;
}
.row-reverse .l-offset-4 {
    margin-right: 33.33333%;
}
.row-reverse .l-offset-5 {
    margin-right: 41.66667%;
}
.row-reverse .l-offset-6 {
    margin-right: 50%;
}
.row-reverse .l-offset-7 {
    margin-right: 58.33333%;
}
.row-reverse .l-offset-8 {
    margin-right: 66.66667%;
}
.row-reverse .l-offset-9 {
    margin-right: 75%;
}
.row-reverse .l-offset-10 {
    margin-right: 83.33333%;
}
.row-reverse .l-offset-11 {
    margin-right: 91.66667%;
}
.row-reverse .l-offset-12 {
    margin-right: 100%;
}
.row-reverse .l-last {
    margin-right: auto;
}
.row-reverse .l-notlast {
    margin-right: 0;
}

/*** X-Large - Row Reserve ***/

@media only screen and (min-width: 1441px) {
    .row-reverse .xl-offset-0 {
        margin-right: 0;
    }
    .row-reverse .xl-offset-1 {
        margin-right: 8.33333%;
    }
    .row-reverse .xl-offset-2 {
        margin-right: 16.66667%;
    }
    .row-reverse .xl-offset-3 {
        margin-right: 25%;
    }
    .row-reverse .xl-offset-4 {
        margin-right: 33.33333%;
    }
    .row-reverse .xl-offset-5 {
        margin-right: 41.66667%;
    }
    .row-reverse .xl-offset-6 {
        margin-right: 50%;
    }
    .row-reverse .xl-offset-7 {
        margin-right: 58.33333%;
    }
    .row-reverse .xl-offset-8 {
        margin-right: 66.66667%;
    }
    .row-reverse .xl-offset-9 {
        margin-right: 75%;
    }
    .row-reverse .xl-offset-10 {
        margin-right: 83.33333%;
    }
    .row-reverse .xl-offset-11 {
        margin-right: 91.66667%;
    }
    .row-reverse .xl-offset-12 {
        margin-right: 100%;
    }
    .row-reverse .xl-last {
        margin-right: auto;
    }
    .row-reverse .xl-notlast {
        margin-right: 0;
    }
}

/*** Medium - Row Reserve ***/

@media only screen and (max-width: 1068px) {
    .row-reverse .m-offset-0 {
        margin-right: 0;
    }
    .row-reverse .m-offset-1 {
        margin-right: 8.33333%;
    }
    .row-reverse .m-offset-2 {
        margin-right: 16.66667%;
    }
    .row-reverse .m-offset-3 {
        margin-right: 25%;
    }
    .row-reverse .m-offset-4 {
        margin-right: 33.33333%;
    }
    .row-reverse .m-offset-5 {
        margin-right: 41.66667%;
    }
    .row-reverse .m-offset-6 {
        margin-right: 50%;
    }
    .row-reverse .m-offset-7 {
        margin-right: 58.33333%;
    }
    .row-reverse .m-offset-8 {
        margin-right: 66.66667%;
    }
    .row-reverse .m-offset-9 {
        margin-right: 75%;
    }
    .row-reverse .m-offset-10 {
        margin-right: 83.33333%;
    }
    .row-reverse .m-offset-11 {
        margin-right: 91.66667%;
    }
    .row-reverse .m-offset-12 {
        margin-right: 100%;
    }
    .row-reverse .m-last {
        margin-right: auto;
    }
    .row-reverse .m-notlast {
        margin-right: 0;
    }
}

/*** Small - Row Reserve ***/

@media only screen and (max-width: 734px) {
    .row-reverse .s-offset-0 {
        margin-right: 0;
    }
    .row-reverse .s-offset-1 {
        margin-right: 8.33333%;
    }
    .row-reverse .s-offset-2 {
        margin-right: 16.66667%;
    }
    .row-reverse .s-offset-3 {
        margin-right: 25%;
    }
    .row-reverse .s-offset-4 {
        margin-right: 33.33333%;
    }
    .row-reverse .s-offset-5 {
        margin-right: 41.66667%;
    }
    .row-reverse .s-offset-6 {
        margin-right: 50%;
    }
    .row-reverse .s-offset-7 {
        margin-right: 58.33333%;
    }
    .row-reverse .s-offset-8 {
        margin-right: 66.66667%;
    }
    .row-reverse .s-offset-9 {
        margin-right: 75%;
    }
    .row-reverse .s-offset-10 {
        margin-right: 83.33333%;
    }
    .row-reverse .s-offset-11 {
        margin-right: 91.66667%;
    }
    .row-reverse .s-offset-12 {
        margin-right: 100%;
    }
    .row-reverse .s-last {
        margin-right: auto;
    }
    .row-reverse .s-notlast {
        margin-right: 0;
    }
}