@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,700;1,400&display=swap');
:root {
    --jm-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --jm-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
    --jm-dark: #1A1A1A;
    --jm-grey: #343a40;
    --jm-white: #FFFFFF;
    --jm-lesswhite: #f8f9fa;
    --jm-lesserwhite: #E5E7EB;
    --jm-blue-1: #0070F3;
    --jm-blue-2: #0d6efd;
    --jm-teal: #20c997;
    --jm-green: #28a745;
    --jm-red: #dc3545;
    /*** Above for general usage, below for style specific ***/
    --jm-background: #ffffff;
    --jm-bodytext: #291f1e;
    --jm-heading: ;
    --jm-headingfade: ;
    --jm-defont: 18px;
    --black: #291f1e;
    --oldblue: #0077dd;
    --newblue: #0f73e3;
}
html {
    font-family:'JetBrains Mono', monospace;
    font-size: 106.25%;
}
body {
    font-size: var(--jm-defont);
    font-weight: 400;
    line-height: 1.3;
    font-family:'JetBrains Mono', monospace;
    font-style: normal;
    background: var(--jm-background);
    color: var(--jm-bodytext);
    word-break: break-word;
    overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul {
  margin-left: 15px;
}

/* Site Header */

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.site-header {
  padding: 0em 0 3em 0;
}

body.home .site-header {
  background: #5a4fff;
}

body.page-template-page-about .site-header {
  background: #c4d6b0;
}

body.page-template-page-thoughts .site-header, .single-post .site-header {
  background: #f64740;
}

@media (min-width: 320px) {
  .navbar {
    justify-content: center;
  }
  .site-header {
    padding: 0em 0 1em 0;
  }
}

@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
  }
  .site-header {
    padding: 0em 0 3em 0;
  }
}

/* Logo */

.site-branding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-logo {
  padding-left: 5px;
  padding-bottom: 1px;
  padding-top: 8px;
  padding-right: 5px;
}

.site-logo a h1, .site-logo a:hover h1, .site-logo a:active h1, .site-logo a:visited h1, .site-logo a:focus h1 {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: -1px;
  margin-left: 1em;
  color: #fff;
  text-decoration: none;
}

.page-template-page-thoughts .site-logo a h1, .page-template-page-thoughts  .site-logo a:hover h1, 
.page-template-page-thoughts  .site-logo a:active h1, .page-template-page-thoughts  .site-logo a:visited h1, 
.page-template-page-thoughts  .site-logo a:focus h1, .single-post .site-logo a h1, .single-post .site-logo a:hover h1, 
.single-post .site-logo a:active h1, .single-post .site-logo a:visited h1, .single-post .site-logo a:focus h1 {
  color: #fff;
}

.page-template-page-about .site-logo a h1, .page-template-page-about  .site-logo a:hover h1, 
.page-template-page-about  .site-logo a:active h1, .page-template-page-about  .site-logo a:visited h1, 
.page-template-page-about  .site-logo a:focus h1, .about-page__main-title h2 {
  color: #291f1e;
}

@media (min-width:320px) {
  .site-logo a h1, .site-logo a:hover h1, .site-logo a:active h1, .site-logo a:visited h1, .site-logo a:focus h1 {
    margin-left: 0;
  }
}

@media (min-width:768px) {
  .site-logo a h1, .site-logo a:hover h1, .site-logo a:active h1, .site-logo a:visited h1, .site-logo a:focus h1 {
    margin-left: 1em;
  }
}

/* Footer */

.site-footer {
  padding: 3em;
  font-size: .75em;
}

@media (min-width:320px) {
  .site-footer {
    padding: 3em 1em 3em 1em;
    text-align: center;
  }
}

@media (min-width:768px) {
  .site-footer {
    padding: 3em;
    text-align: left;
  }
}

/* Main Nav */

ul.nav li > a {
  font-weight: bold;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: -1px;
}

ul.nav li.current_page_item > a {
  color: #291f1e;
}

body.page-template-page-work ul.nav li > a, .single-work ul.nav li > a, body.page-template-page-about ul.nav li > a{
  color: #291f1e;
}

body.page-template-page-about ul.nav li.current_page_item > a, body.page-template-page-work ul.nav li.current_page_item > a {
  color: #555;
}

body.page-template-page-thoughts ul.nav li.current_page_item > a {
  color: #ccc;
}

@media (min-width: 768px) {
  ul.nav li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width:767px) {
  .nav {
      -ms-flex-direction: row!important;
      flex-direction: row!important;
  }
  ul.nav li {
    padding-right: 20px;
  }
  ul.nav li:last-child {
    padding-right: 0;
  }

}

a:hover, a:focus, a:active {
    text-decoration: none;
}

h2, h3, h4, h5, h6, .single-work .entry-title, .type-post .entry-title {
  font-family: degular-display, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Home */

body.home .site-content {
    background-color: #5a4fff;
}

.work__works-contain, .casestudy__works-contain {
  padding-left: 15px;
  padding-right: 15px;
}

.work__works-contain h2, .work__works-contain h3, .casestudy__works-contain h3 {
  font-size: 18px;
}

.work__works-contain a h2, .work__works-contain a h3, .casestudy__works-contain a h3 {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.thoughts__container a h3 {
  color: #291f1e;
  text-decoration: none;
  font-size: 2rem;
}

.work__works-contain a h2 {
  color:#888890;
}

.home-statement {
  padding:5em;
  text-align: center;
}

.home-statement p {
  font-family: degular-display, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 3rem;
}

@media (min-width:320px) {
  .home-statement {
    padding:2em;
  }
  .home-statement p {
    font-size: 1.4rem;
  }
}

@media (min-width:768px) {
  .home-statement {
    padding:5em;
  }
  .home-statement p {
    font-size: 3rem;
  }
}

/* Card Based Layout - Base styles */

.work-content {
  display: block;
}

@media (min-width: 800px) {
  .work__works-contain, .casestudy__works-contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

@media (min-width: 1400px) {
  .work__works-contain, .casestudy__works-contain { 
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* About */

.about-page__main-title {
  background: #c4d6b0;
  display: flex;
  justify-content: space-between;
}

.about-page__main-title h2 {
  color: #291f1e;
  padding-left: 5em;
}

.about-page__main-title img {
  max-width: 450px;
  margin-right: 5%;
  margin-bottom: 0;
}

.page-template-page-about h2, .work__main-title h2, .casestudy-title h2, .thoughts__main-title h2 {
  font-size: 4rem;
  font-weight: bold;
}

.page-template-page-about h2, .page-template-page-work h2 {
  margin-bottom: 25px;
}

.about-page__bio-section, .about-page__mantra-section, .about-page__awards-contain, .casestudy__works-contain, .work__works-contain {
  padding-bottom: 80px;
}

.about-page__bio-section, .work__works-contain, .thoughts__container  {
  padding-top: 80px;
}

@media (min-width:320px) {
  .about-page__main-title {
    display: block;
  }
  .about-page__main-title img {
    margin-bottom: -5px;
  }
  .about-page__main-title h2 {
    padding-left:1em;
  }
}

@media (min-width:768px) {
  .about-page__main-title {
    display: flex;
  }
  .about-page__main-title h2 {
    padding-left:1em;
  }
  .about-page__main-title img {
    margin-bottom: 0;
  }
}

/* Thoughts - previously Ideas */

.thoughts__main-title {
  color: #fff;
  background: #f64740;
  display: flex;
  justify-content: space-between;
  padding-left: 5em;
  padding-bottom: 5em;
}

.type-post .entry-header {
  background: #f64740;
  padding-bottom: 5em;
  padding-right: 5em;
}

.type-post .entry-title {
  color: #fff;
}

.thoughts__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thoughts__indiv-thought {
  display: flex;
  justify-content: left;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

.thoughts__indiv-thought__date {
  color: #aaa;
  font-size: 1rem;
  display: block;
}

@media (min-width:320px) {
  .type-post .entry-header {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }
  .type-post .entry-title {
    font-size: 3rem;
  }
  .thoughts__indiv-thought {
    width: 90%;
  }
}

@media (min-width:768px) {
  .type-post .entry-header {
    padding-left: 10em;
    text-align: initial;
    padding-right: 5em;
  }
  .type-post .entry-title {
    font-size: 3.5em;
  }
  .thoughts__indiv-thought {
    width: 60%;
  }
}

/* Work */

.work__main-title, .casestudy-title, .single-work .entry-header {
  color: #291f1e;
  display: flex;
  justify-content: space-between;
  padding-left: 3em;
  padding-bottom: 5em;
}

.type-work .img-fluid {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body.page-template-page-work, body.single-work {
    background-color: #fff;
}

body.page-template-page-work .site-logo a h1, body.single-work .site-logo a h1 {
    color: #291f1e;
}

body.page-template-page-work .site-logo .box, body.single-work .site-logo .box {
    background: #0077dd;
}

body.page-template-page-work .work__works-contain a h2, body.page-template-page-work .work__works-contain a h3, 
body.page-template-page-work .casestudy__works-contain a h3{
    color: #291f1e;
}

body.single-work .menu-item-7541574668 a {
    color: #291f1e;
}

.work__indiv-work, .casestudy__indiv-work {
  padding-bottom: 25px; 
}

.work__indiv-work img, .casestudy__indiv-work {
  margin-bottom: 20px;
}

.cat-title {
  display: block;
  font-size: 83%;
  color: #555;
  font-style: italic;
}

.project-descript h4 {
  display: block;
}

.byline, .nav-links {
  display: none;
}

.entry-title {
  font-weight: bold;
  color: #f64740;
  font-size: 4.5rem;
  margin-bottom: 0;
}

.single-work .entry-title {
  color: #555;
}

.posted-on a {
  color:#eee;
}

.single-post .entry-content, .single-post .entry-footer, .single-work .entry-content {
  color: #291f1e;
}

@media (min-width:320px) {
  .work__main-title, .thoughts__main-title {
    padding-left: 1em;
    padding-bottom: 1em;
  }
  .single-work .entry-header {
    padding-left: .5em;
    padding-bottom: 1em;
  }
  .single-work .entry-title {
    font-size: 2rem;
  }
  .casestudy-title {
    padding-left: 1em;
    padding-bottom: 3em;
  }
  .single-work .entry-content {
    padding: 0 1em 0 1em;
  }
  .single-post .entry-content, .single-post .entry-footer {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width:768px) {
  .work__main-title, .casestudy-title, .single-work .entry-header, .thoughts__main-title {
    padding-left: 3em;
    padding-bottom: 5em;
  }
  .single-work .entry-title {
    font-size: 4.5rem;
  }
  .post-thumbnail {
    text-align: center;
  }
  .single-post .entry-content, .single-post .entry-footer {
    padding-left: 15em;
    padding-right: 15em;
  }
  .single-work .entry-content {
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
  }
}

/* KEYFRAMES */

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}

/* GRID STYLING */

.spinner-box {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* SOLAR SYSTEM */

.solar-system {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fafbfC;
  border-radius: 50%;
} 

.earth-orbit {
  width: 165px;
  height: 165px;
  -webkit-animation: spin 12s linear 0s infinite;
}

.venus-orbit {
  width: 120px;
  height: 120px;
  -webkit-animation: spin 7.4s linear 0s infinite;
}

.mercury-orbit {
  width: 90px;
  height: 90px;
  -webkit-animation: spin 3s linear 0s infinite;
}

.planet {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3ff9dc;
}

.sun {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffab91;
}

.leo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.blue-orbit {
  width: 165px;
  height: 165px;
  border: 1px solid #91daffa5;
  -webkit-animation: spin3D 3s linear .2s infinite;
}

.green-orbit {
  width: 120px;
  height: 120px;
  border: 1px solid #91ffbfa5;
  -webkit-animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
  width: 90px;
  height: 90px;
  border: 1px solid #ffca91a5;
  -webkit-animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
  width: 60px;
  height: 60px;
  border: 2px solid #ffffff;
  -webkit-animation: spin3D 10s linear 0s infinite;
}

.w1 {
  transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
  transform: rotate3D(1, 2, .5, 90deg);
}

.w3 {
  transform: rotate3D(.5, 1, 2, 90deg);
}