$black = #231f20
$oldblue = #0077dd
$newblue = #0f73e3

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,700;1,400&display=swap');

.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading h6,
.wf-loading p,
.wf-loading li,
.wf-loading blockquote,
.wf-loading a,
.wf-loading label, svg{
    opacity:0;
    visibility:hidden;
}

.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6,
.wf-active p,
.wf-active li,
.wf-active blockquote,
.wf-active a,
.wf-active label, svg{
    visibility:visible;
    opacity:1;
    transition:opacity 0.3s linear;
}

smooth-animation {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

html, body {
	-webkit-font-smoothing: antialiased;
}

body {
	color: #231f20;
  font-family:'JetBrains Mono', monospace;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1300px) {
	.container {
	    max-width: 1200px;
	}
	.navbar-expand-md .container, .site-footer .container {
		max-width: 100%;
	}
}

@media (min-width: 1500px) {
	.container {
	    max-width: 1300px;
	}
	.navbar-expand-md .container, .site-footer .container {
		max-width: 100%;
	}
}

/* Site Header */

.site-header {
  padding: 3rem;
}

body.home .site-header {
  background: #231f20;
}

body.page-template-page-about .site-header {
  background: #0f73e3;
}

body.page-template-page-thoughts .site-header, .single-post .site-header {
  background: #f83858;
}

@media (min-width:320px) {
  .site-header {
    padding: 3rem 0 3rem 0;
  }
}

@media (min-width:768px) {
  .site-header {
    padding: 3rem;
  }
}

/* Logo */

.site-branding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-logo {
  padding-left: 5px;
  padding-bottom: 1px;
  padding-top: 8px;
  padding-right: 5px;
}

.site-logo a h1, .site-logo a:hover h1, .site-logo a:active h1, .site-logo a:visited h1, .site-logo a:focus h1 {
	font-weight: bold;
	text-decoration: none;
	font-size: 1.6rem;
	letter-spacing: -1px;
	margin-left: 1rem;
}

.page-template-page-about .site-logo a h1, .page-template-page-about  .site-logo a:hover h1, 
.page-template-page-about  .site-logo a:active h1, .page-template-page-about  .site-logo a:visited h1, 
.page-template-page-about  .site-logo a:focus h1, .page-template-page-thoughts .site-logo a h1, .page-template-page-thoughts  .site-logo a:hover h1, 
.page-template-page-thoughts  .site-logo a:active h1, .page-template-page-thoughts  .site-logo a:visited h1, 
.page-template-page-thoughts  .site-logo a:focus h1, .single-post .site-logo a h1, .single-post .site-logo a:hover h1, 
.single-post .site-logo a:active h1, .single-post .site-logo a:visited h1, .single-post .site-logo a:focus h1 {
  color: #fff;
}

@media (min-width:320px) {
  .site-logo a h1, .site-logo a:hover h1, .site-logo a:active h1, .site-logo a:visited h1, .site-logo a:focus h1 {
    margin-left: 0;
  }
}

@media (min-width:768px) {
  .site-logo a h1, .site-logo a:hover h1, .site-logo a:active h1, .site-logo a:visited h1, .site-logo a:focus h1 {
    margin-left: 1rem;
  }
}

/* Footer */

.site-footer {
  padding: 3rem;
}

@media (min-width:320px) {
  .site-footer {
    padding: 3rem 1rem 3rem 1rem;
    text-align: center;
  }
}

@media (min-width:768px) {
  .site-footer {
    padding: 3rem;
    text-align: left;
  }
}

/* Main Nav */

ul.nav li > a {
  font-weight: bold;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: -1px;
}

ul.nav li.current_page_item > a {
  color: #231f20;
}

body.page-template-page-work ul.nav li > a, .single-work ul.nav li > a{
	color: #231f20;
}

body.page-template-page-work ul.nav li.current_page_item > a {
  color: #777;
}

body.page-template-page-about ul.nav li.current_page_item > a {
  color: #aaa;
}

body.page-template-page-thoughts ul.nav li.current_page_item > a {
  color: #ccc;
}

@media (min-width: 768px) {
  ul.nav li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width:767px) {
  .nav {
      -ms-flex-direction: row!important;
      flex-direction: row!important;
  }
  ul.nav li {
    padding-right: 20px;
  }
  ul.nav li:last-child {
    padding-right: 0;
  }

}

a:hover, a:focus, a:active {
	text-decoration: none;
}

/* Home */

body.home .site-content {
	background-color: #231f20;
}

.work-contain, .casestudy-contain {
  padding-left: 15px;
  padding-right: 15px;
}

.work-contain h2, .work-contain h3, .casestudy-contain h3 {
  font-size: 18px;
}

.work-contain a h2, .work-contain a h3, .casestudy-contain a h3 {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.thoughts-contain a h3 {
  color: #231f20;
  text-decoration: none;
  font-size: 20px;
}

.work-contain a h2 {
	color:#888890;
}

.home-statement {
  padding:5em;
  text-align: center;
}

.home-statement p {
  color: #fff;
  line-height: 1.5;
	font-weight: 300;
	letter-spacing: -1px;
	font-size: 2rem;
}

@media (min-width:320px) {
  .home-statement {
    padding:2em;
  }
}

@media (min-width:768px) {
  .home-statement {
    padding:5em;
  }
}

/* Card Based Layout - Base styles */

.work-content {
  display: block;
}

@media (min-width: 800px) {
  .works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

@media (min-width: 1400px) {
  .works { 
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* About */

.about-contain {
  background: #0f73e3;
  display: flex;
  justify-content: space-between;
}

.about-contain h2 {
  color: #fff;
  padding-left: 5rem;
}

.about-contain img {
  max-width: 450px;
  margin-right: 5%;
}

.page-template-page-about h2, .work-title h2, .casestudy-title h2, .thoughts-title h2 {
  font-size: 72px;
  font-weight: bold;
}

.page-template-page-about h2, .page-template-page-work h2 {
	margin-bottom: 25px;
}

.bio-contain, .mantra-contain, .awards-contain, .casestudy-contain, .work-contain {
  padding-bottom: 80px;
}

.bio-contain, .work-contain, .thoughts-contain  {
  padding-top: 80px;
}

@media (min-width:320px) {
  .about-contain {
    display: block;
  }
  .about-contain h2 {
    padding-left:2rem;
  }
}

@media (min-width:768px) {
  .about-contain {
    display: flex;
  }
  .about-contain h2 {
    padding-left:5rem;
  }
}

/* Thoughts - previously Ideas */

.thoughts-title {
  color: #fff;
  background: #f83858;
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  padding-bottom: 5rem;
}

.type-post .entry-header {
  background: #f83858;
  padding-left: 5rem;
  padding-bottom: 5rem;
}

.type-post .entry-title {
  color: #fff;
}

.thoughts-contain {
  padding-left: 5rem;
}

.thoughts-contain h3{
  font-size: 36px;
}

.thought {
  border-bottom: 1px solid #ccc;
  width: 95%;
  margin-bottom: 1rem;
}

.thought-date {
  color: #aaa;
  font-size: 18px;
  display: block;
}

@media (min-width:320px) {
  .type-post .entry-header {
    padding-left: 1rem;
  }
  .type-post .entry-title {
    font-size: 3rem;
  }
}

@media (min-width:768px) {
  .type-post .entry-header {
    padding-left: 5rem;
  }
  .type-post .entry-title {
    font-size: 4.5rem;
  }
}

/* Work */

.work-title, .casestudy-title, .single-work .entry-header {
  color: #231f20;
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  padding-bottom: 5rem;
}

body.page-template-page-work, body.single-work {
	background-color: #fff;
}

body.page-template-page-work .site-logo a h1, body.single-work .site-logo a h1 {
	color: #231f20;
}

body.page-template-page-work .site-logo .box, body.single-work .site-logo .box {
	background: #0077dd;
}

body.page-template-page-work .work-contain a h2, body.page-template-page-work .work-contain a h3, 
body.page-template-page-work .casestudy-contain a h3{
	color: #231f20;
}

body.single-work .menu-item-7541574668 a {
	color: #231f20;
}

.work-indiv {
	padding-bottom: 25px; 
}

.work-indiv img {
	margin-bottom: 20px;
}

.cat-title {
	display: block;
	font-size: 83%;
	opacity: .5;
}

.project-descript h4 {
	display: block;
}

.byline, .nav-links {
	display: none;
}

.entry-title {
	font-weight: bold;
	color: #f83858;
	font-size: 4.5rem;
	margin-bottom: 0;
}

.single-work .entry-title {
	color: #858590;
}

.posted-on a {
	color:#eee;
}

.single-post .entry-content, .single-post .entry-footer {
	color: #484B69;
  padding-left: 3rem;
  padding-right: 3rem;
}

.single-work .entry-content {
	color: #231f20;
}

@media (min-width:320px) {
  .work-title, .single-work .entry-header, .thoughts-title {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .casestudy-title {
    padding-left: 1rem;
    padding-bottom: 3rem;
  }
  .single-work .entry-title {
    font-size: 3rem;
  }
  .single-work .entry-content {
    padding: 0 1rem 0 1rem;
  }
  .thoughts-contain {
    padding-left: 1rem;
  }
  .single-post .entry-content, .single-post .entry-footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width:768px) {
  .work-title, .casestudy-title, .single-work .entry-header {
    padding-left: 5rem;
    padding-bottom: 5rem;
  }
  .single-work .entry-title {
    font-size: 4.5rem;
  }
  .post-thumbnail {
    text-align: center;
  }
  .thoughts-contain {
    padding-left: 5rem;
  }
  .single-post .entry-content, .single-post .entry-footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* KEYFRAMES */

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}

/* GRID STYLING */

.spinner-box {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* SOLAR SYSTEM */

.solar-system {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fafbfC;
  border-radius: 50%;
} 

.earth-orbit {
  width: 165px;
  height: 165px;
  -webkit-animation: spin 12s linear 0s infinite;
}

.venus-orbit {
  width: 120px;
  height: 120px;
  -webkit-animation: spin 7.4s linear 0s infinite;
}

.mercury-orbit {
  width: 90px;
  height: 90px;
  -webkit-animation: spin 3s linear 0s infinite;
}

.planet {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3ff9dc;
}

.sun {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffab91;
}

.leo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.blue-orbit {
  width: 165px;
  height: 165px;
  border: 1px solid #91daffa5;
  -webkit-animation: spin3D 3s linear .2s infinite;
}

.green-orbit {
  width: 120px;
  height: 120px;
  border: 1px solid #91ffbfa5;
  -webkit-animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
  width: 90px;
  height: 90px;
  border: 1px solid #ffca91a5;
  -webkit-animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
  width: 60px;
  height: 60px;
  border: 2px solid #ffffff;
  -webkit-animation: spin3D 10s linear 0s infinite;
}

.w1 {
  transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
  transform: rotate3D(1, 2, .5, 90deg);
}

.w3 {
  transform: rotate3D(.5, 1, 2, 90deg);
}