$black = #231f20
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;1,400&display=swap');
@import url("css/font-awesome.min.css");

.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading h6,
.wf-loading p,
.wf-loading li,
.wf-loading blockquote,
.wf-loading a,
.wf-loading label, svg{
    opacity:0;
    visibility:hidden;
}

.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6,
.wf-active p,
.wf-active li,
.wf-active blockquote,
.wf-active a,
.wf-active label, svg{
    visibility:visible;
    opacity:1;
    transition:opacity 0.3s linear;
}

smooth-animation {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

html, body {
	-webkit-font-smoothing: antialiased;
}

body {
	color: #858590;
  
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1300px) {
	.container {
	    max-width: 1200px;
	}
	.navbar-expand-md .container, .site-footer .container {
		max-width: 100%;
	}
}

@media (min-width: 1500px) {
	.container {
	    max-width: 1300px;
	}
	.navbar-expand-md .container, .site-footer .container {
		max-width: 100%;
	}
}

/* Logo */

.site-branding {
  max-width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width:768px) {
  .site-branding {
    max-width: 300px; 
  }
}

.site-logo {
  padding-left: 5px;
  padding-bottom: 1px;
  padding-top: 8px;
  padding-right: 5px;
}

.site-logo a h1, .site-logo a:hover h1, .site-logo a:active h1, .site-logo a:visited h1, .site-logo a:focus h1 {
	/*color: #231f20*/
	color:#fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.6rem;
	letter-spacing: -1px;
	margin-left: 2.1rem;
}

.site-logo .box {
	width: 1.6rem;
	height: 1.6rem;
	position: absolute;
	/*background: #119eb7;*/
	background: #231f20;
	margin-top: 3px;
}

.site-logo .divider {
  top: -2px;
  position: relative;
}

/* Footer */

.site-footer {
  padding:3em 5em;
}

.site-info {
  font-weight: bold;
}

@media (min-width:320px) {
  .site-footer {
    padding:3em 2em;
  }
}

@media (min-width:768px) {
  .site-footer {
    padding:3em 5em;
  }
}

/* Main Nav */

.site-header {
  padding:3em 5em;
}

ul.nav li > a {
  font-weight: bold;
  color: #aaa;
  font-size: 1.6rem;
  letter-spacing: -1px;
}

ul.nav li.current_page_item > a {
  color: #231f20;
}

body.page-template-page-about ul.nav li > a {
	color: #fff;
}

body.page-template-page-about ul.nav li.current_page_item > a {
  color: #aaa;
}

.navbar-toggler {
  border-color: #aaa;
}

.navbar-toggler-icon .fa {
  font-size: 28px;
}

@media (min-width: 320px) {
  .site-header {
    padding:3em 1em;
  }
}

@media (min-width: 768px) {
  .site-header {
    padding:3em 5em;
  }
  ul.nav li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width:767px) {
  .nav {
      -ms-flex-direction: column!important;
      flex-direction: column!important;
  }
}

a:hover, a:focus, a:active {
	text-decoration: none;
}

.site-content {
  padding-left:5em;
  padding-right:5em;
}

@media (min-width:320px) {
  .site-content {
    padding-left:2em;
    padding-right:2em;
  }
}

@media (min-width:768px) {
  .site-content {
    padding-left:5em;
    padding-right:5em;
  }
}


/* Home */

body.home {
	background-color: #0077dd;
  color: #fff;
	min-height: 100%;
}

.work-contain, .casestudy-contain {
  padding-left: 15px;
  padding-right: 15px;
}

.work-contain h2, .work-contain h3, .casestudy-contain h3 {
  font-size: 18px;
}

.work-contain a h2, .work-contain a h3, .casestudy-contain a h3, .ideas-contain a h3 {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

body.home ul.nav li > a, body.home .work-contain a h2, body.home .site-footer {
	color: #fff;
}

.ideas-contain a h3 {
	color: #fff;
}

.work-contain a h2 {
	color:#888890;
}

.home-statement {
  padding:5em;
  text-align: center;
}

.home-statement h2 {
	color: #fff;
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 2.5rem;
}

.definitions {
  text-align:center;
}

.definitions p {
  font-family: 'Archivo', sans-serif;
  font-weight:400;
  font-size:20px;
}

@media (min-width:320px) {
  .home-statement {
    padding:2em;
  }
}

@media (min-width:768px) {
  .home-statement {
    padding:5em;
  }
}

/* Card Based Layout - Base styles */

.work-content {
  display: block;
}

@media (min-width: 800px) {
  .works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

@media (min-width: 1400px) {
  .works { 
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* About */

body.page-template-page-about {
	background-color: #231f20;
	color: #fff;
}

body.page-template-page-about .site-logo .box {
	background: #0077dd;
}

.page-template-page-about h2, .page-template-page-work h2, .ideas-contain h2 {
  font-size: 72px;
  font-weight: bold;
}

.page-template-page-about h2, .page-template-page-work h2 {
	margin-bottom: 25px;
}

.about-contain, .mantra-contain, .awards-contain, .casestudy-contain, .work-contain {
  padding-bottom: 80px;
}

.about-contain, .work-contain, .ideas-contain  {
  padding-top: 80px;
}

.home .work-contain {
  padding-top: 20px;
}

/* Ideas */

body.page-template-page-ideas {
  color: #fff;
  background: #f83858;
}

body.page-template-page-ideas .site-logo {
  background: none;
}

body.page-template-page-ideas .site-logo .box, body.single-post .site-logo .box {
	background: #0077dd;
}

body.single-post .site-logo a h1 {
	color: #231f20;
}

body.page-template-page-ideas ul.nav li > a {
	color: #fff;
}

body.page-template-page-ideas ul.nav li.current_page_item > a, body.single-post .menu-item-7541574667 a {
	color: #231f20;
}

.ideas-contain h3{
    font-size: 36px;
}

.idea-date {
  font-size: 18px;
  display: block;
}

.ideas-contain a h3 span {
  color: #ddd;
}

.ideas-contain .col-sm-4 {
  padding-top: 25px;
  padding-bottom: 25px; 
}

/* Work */

body.page-template-page-work, body.single-work {
	background-color: #fff;
}

body.page-template-page-work .site-logo a h1, body.single-work .site-logo a h1 {
	color: #231f20;
}

body.page-template-page-work .site-logo .box, body.single-work .site-logo .box {
	background: #0077dd;
}

body.page-template-page-work .work-contain a h2, body.page-template-page-work .work-contain a h3, 
body.page-template-page-work .casestudy-contain a h3{
	color: #231f20;
}

body.single-work .menu-item-7541574668 a {
	color: #231f20;
}

.work-indiv {
	padding-bottom: 25px; 
}

.work-indiv img {
	margin-bottom: 20px;
}

.cat-title {
	display: block;
	font-size: 83%;
	opacity: .5;
}

.project-descript h4 {
	display: block;
}

.byline, .nav-links {
	display: none;
}

.entry-title {
	font-weight: bold;
	color: #f83858;
	font-size: 4.5rem;
	margin-bottom: 0;
}

.single-work .entry-title {
	color: #858590;
}

.posted-on a {
	color:#858590;
}

.entry-content {
	color: #484B69;
}

.single-work .entry-content {
	color: #231f20;
}

article.type-post {
	margin-top: 50px;
}


/* KEYFRAMES */

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}

/* GRID STYLING */

.spinner-box {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* SOLAR SYSTEM */

.solar-system {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fafbfC;
  border-radius: 50%;
} 

.earth-orbit {
  width: 165px;
  height: 165px;
  -webkit-animation: spin 12s linear 0s infinite;
}

.venus-orbit {
  width: 120px;
  height: 120px;
  -webkit-animation: spin 7.4s linear 0s infinite;
}

.mercury-orbit {
  width: 90px;
  height: 90px;
  -webkit-animation: spin 3s linear 0s infinite;
}

.planet {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3ff9dc;
}

.sun {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffab91;
}

.leo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.blue-orbit {
  width: 165px;
  height: 165px;
  border: 1px solid #91daffa5;
  -webkit-animation: spin3D 3s linear .2s infinite;
}

.green-orbit {
  width: 120px;
  height: 120px;
  border: 1px solid #91ffbfa5;
  -webkit-animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
  width: 90px;
  height: 90px;
  border: 1px solid #ffca91a5;
  -webkit-animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
  width: 60px;
  height: 60px;
  border: 2px solid #ffffff;
  -webkit-animation: spin3D 10s linear 0s infinite;
}

.w1 {
  transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
  transform: rotate3D(1, 2, .5, 90deg);
}

.w3 {
  transform: rotate3D(.5, 1, 2, 90deg);
}